root {
    display: block;
}

body {
    background-color: rgb(243, 243, 243);
    background-repeat: repeat-x;
    background-position: center top;
    background-image: url("../sprites/bg_tile.jpg");
}

*,
::before,
::after {
    user-select: none;
}

input,
input::before,
input::after {
    user-select: initial;
}

::selection {
    background: transparent;
    color: inherit;
}

#canvas {
    position: fixed;
}

canvas {
    image-rendering: -webkit-optimize-contrast;
}

.ani_hack {
    perspective: 1000px;
    backface-visibility: hidden;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: arialbold;
    src: url("arialbd-webfont.woff2") format("woff2"), url("arialbd-webfont.woff") format("woff"), url("arialbd-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: pixel_lcd7regular;
    src: url("pixel_lcd-7-webfont.woff2") format("woff2"), url("pixel_lcd-7-webfont.woff") format("woff"), url("pixel_lcd-7-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}